<section class="section advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list-item icon-milk">
                <span class="advantages-list-number">721</span>
                <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list-item icon-bucket">
                <span class="advantages-list-number">16kg</span>
                <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list-item icon-heart">
                <span class="advantages-list-number">84</span>
                <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>