<div class="customer-reviews">
    <div class="container">
        <img class="customer-reviews__photo" src="./images/review-person.png" alt="review person" />
        <div class="customer-reviews__box">
            <img class="customer-reviews__image" src="./images/quotes.png" alt="review person" width="54" height="40" />
            <img class="customer-reviews__imageBackground" src="./images/field.png" alt="review person" />
            <div class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risis. Aliquam sem. In
                hendreit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </div>
        </div>
    </div>
</div>