<footer class="footer">
    <div class="container">
        <div class="footer__titel">
            <p>homemade ice cream made</p>
            <strong>with passion</strong>
        </div>
        <div class="footer__contacts">
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-link" href="https://github.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-linl__icon" width="32" heihgt="32"></svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-link" href="https://telegram.org/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-linl__icon" width="20" heihgt="20"></svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener">
                        <svg class="social-linl__icon" width="20" heihgt="20"></svg>
                    </a>
                </li>
            </ul>
            <div class="call">
                <strong class="call__text">Feel free to contact</strong>
                <a class="call__tell" href="tel:+610383766284">+61 (0) 383 766 284</a>
            </div>
            <div class="rights-reserved">
                <p> &copy; 2022 - IceCream. All Rights Reserved.</p>
            </div>           
        </div>
    </div>
</footer>
        