<header class="page-header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="logo link">
        <svg class="logo-icon" width="199" height="50">
          <use href=""></use>
        </svg>
      </a>
      <ul class="nav__menu">
        <li class="menu__item">
          <a href="" class="menu__link link current">Home</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">About us</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button-buy">Buy now</button>
  </div>
</header>
